<div class="grid grid-cols-2 gap-4 items-start w-full">
      <!-- Left Column -->
      <div class="flex flex-col gap-4">
        @for (item of leftColumnItems(); track trackById(item)) {
          <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
        }
      </div>
      <!-- Right Column -->
      <div class="flex flex-col gap-4">
        @for (item of rightColumnItems(); track trackById(item)) {
          <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
        }
      </div>
    </div>
