<div class="flex flex-row gap-2 items-start w-full">
  <!-- Kolom Kiri (Index Genap: 0, 2, 4...) -->
  <div class="flex flex-col gap-2 w-1/2">
    @for (item of items(); track trackById(item); let i = $index) {
      @if (i % 2 === 0) {
        <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
      }
    }
  </div>
  <!-- Kolom Kanan (Index Ganjil: 1, 3, 5...) -->
  <div class="flex flex-col gap-2 w-1/2">
    @for (item of items(); track trackById(item); let i = $index) {
      @if (i % 2 !== 0) {
        <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
      }
    }
  </div>
</div>
