<nav
  class="bg-white text-gray-400 flex items-center justify-center gap-2 p-1.5 rounded-full overflow-hidden border-2 border-gray-200">

  <!-- Home Item -->
  <a routerLink="/katalog" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}" aria-label="Beranda"
    class="bg-gray-50 border-2 border-gray-100 w-14 h-14 flex flex-col items-center justify-center transition-all duration-300 rounded-full group [&.active-item]:bg-primary-600 [&.active-item]:text-white [&.active-item]:border-2 [&.active-item]:border-primary-700 ">
    <i class='bx bx-home-alt-2 text-[28px] transition-transform group-[.active-item]:scale-90'></i>
  </a>

  <a routerLink="/katalog/search" routerLinkActive="active-item" aria-label="Cari produk"
    class="bg-gray-50 border-2 border-gray-100 w-14 h-14 flex flex-col items-center justify-center transition-all duration-300 rounded-full group [&.active-item]:bg-primary-600 [&.active-item]:text-white [&.active-item]:border-2 [&.active-item]:border-primary-700 ">
    <i class='bx bx-search text-[28px] transition-transform group-[.active-item]:scale-90'></i>
  </a>

  <!-- Cart Item -->
  <a routerLink="/katalog/cart" routerLinkActive="active-item" aria-label="Keranjang"
    class="bg-gray-50 border-2 border-gray-100 w-14 h-14 flex flex-col items-center justify-center transition-all duration-300 rounded-full group relative [&.active-item]:bg-primary-600 [&.active-item]:text-white [&.active-item]:border-2 [&.active-item]:border-primary-700 ">
    <div class="relative flex flex-col items-center">
      <i class='bx bx-shopping-bag text-[28px] transition-transform group-[.active-item]:scale-90'></i>
      @if (cartStore.totalItemsCount() > 0) {
      <span
        class="absolute -top-1.5 -right-2.5 flex items-center justify-center min-w-[15px] h-[15px] px-1 text-[8px] font-bold leading-none text-white bg-accent-600 rounded-full border group-[.active-item]:border-primary-600">
        {{ cartStore.totalItemsCount() }}
      </span>
      }
    </div>
  </a>

  <!-- Checkout Item -->
  <a routerLink="/katalog/checkout" routerLinkActive="active-item" aria-label="Checkout"
    class="bg-gray-50 border-2 border-gray-100 w-14 h-14 flex flex-col items-center justify-center transition-all duration-300 rounded-full group [&.active-item]:bg-primary-600 [&.active-item]:text-white [&.active-item]:border-2 [&.active-item]:border-primary-700 ">
    <i class='bx bx-receipt text-[28px] transition-transform group-[.active-item]:scale-90'></i>
  </a>
</nav>
