<div class="flex flex-col gap-6 pb-20">
  <div class="flex items-center justify-end">

    <app-admin-button (click)="onCancel()" variant="outline" size="md" class="shrink-0">
      <app-icon name="chevron-left" size="14"></app-icon>
      Kembali ke Daftar Item
    </app-admin-button>
  </div>

  <!-- Form Container -->
  <div class="bg-white p-6 rounded-2xl border border-slate-200">
    <app-items-form [item]="editItem()" (onCancel)="onCancel()" (onSave)="onSave()"
      (itemTypeChange)="onItemTypeChange($event)">
    </app-items-form>
  </div>


</div>