<div class="w-full">
  @if (label()) {
  <label [for]="id()" class="block text-sm font-medium text-slate-700 mb-1">{{ label() }}</label>
  }
  <div class="relative">
    <select [id]="id()" [formControl]="control()" [class]="selectClass()">
      @if (placeholder()) {
      <option value="" disabled selected>{{ placeholder() }}</option>
      }
      @for (opt of options(); track opt.value) {
      <option [value]="opt.value">{{ opt.label }}</option>
      }
    </select>
    <!-- Custom Chevron Down arrow for custom select element -->
    <div class="absolute inset-y-0 right-0 pr-3.5 flex items-center pointer-events-none text-slate-400">
      <i class="bx bx-chevron-down text-sm"></i>
    </div>
  </div>
  @if (control().invalid && (control().dirty || control().touched)) {
  <span class="text-rose-500 text-xs mt-1.5 block ">
    @if (control().errors?.['required']) { Selection is required. }
  </span>
  }
</div>