<div class=" flex flex-col gap-6">

  <!-- Top Action bar & Search -->
  <div class="flex items-center justify-between">
    <h2 class="font-display font-bold text-slate-800 text-xl whitespace-nowrap">Kelola Produk</h2>

    <div class="flex flex-row gap-2 justify-center items-center">
      <!-- Search Input -->
      <div class="relative w-full hidden sm:block">
        <app-icon name="search" size="16" class="absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"></app-icon>
        <input type="text" placeholder="Cari produk disini ..." [value]="searchQuery()"
          (input)="onSearchInput($any($event.target).value)"
          class="w-full pl-10 pr-4 py-2 bg-slate-50 border border-slate-200 rounded-xl text-sm focus:outline-none focus:ring-2 focus:ring-primary-500/20 focus:border-primary-500 transition-all text-slate-600">
      </div>
      <app-admin-button (click)="onRefresh()" variant="outline" size="md" class="shrink-0" title="Refresh Data">
        <app-icon name="refresh" size="14"></app-icon>
        Segarkan
      </app-admin-button>


      <app-admin-button (click)="openAddModal()" variant="primary" size="md" class="shrink-0">
        <app-icon name="plus" size="14"></app-icon>
        Tambah Produk
      </app-admin-button>
    </div>
  </div>

  <!-- Mobile Search (visible only on small screens) -->
  <div class="sm:hidden relative w-full">
    <app-icon name="search" size="16" class="absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"></app-icon>
    <input type="text" placeholder="Cari produk disini..." [value]="searchQuery()"
      (input)="onSearchInput($any($event.target).value)"
      class="w-full pl-9 pr-4 py-2 bg-white border border-slate-200 rounded-xl text-xs focus:outline-none focus:ring-2 focus:ring-primary-500/20 focus:border-primary-500 transition-all text-slate-600">
  </div>

  <!-- Data Table -->
  @if (productStore.loading()) {
  <div class="bg-white rounded-2xl border border-slate-200">
    <app-spinner text="Loading products list..."></app-spinner>
  </div>
  } @else {
  <app-table>
    <tr table-headers>
      <th class="px-5 py-4">Nama Produk</th>
      <th class="px-5 py-4">Kategori</th>
      <th class="px-5 py-4">Harga</th>
      <th class="px-5 py-4">Stok</th>
      <th class="px-5 py-4">Rating</th>
      <th class="px-5 py-4 text-right">Aksi</th>
    </tr>

    <ng-container table-rows>
      @for (prod of pagination.paged(); track prod.id) {
      <tr class="hover:bg-slate-50/50 transition-colors">
        <td class="px-5 py-4">
          <div class="flex items-center gap-3">
            <div class="h-10 w-8 bg-slate-50 rounded overflow-hidden shrink-0 border border-slate-100">
              <img [src]="prod.coverImage" class="h-full w-full object-cover" />
            </div>
            <div class="flex flex-col">
              <span class="font-bold text-slate-800 text-xs line-clamp-1">{{ prod.title }}</span>
              <span class="text-[10px] text-slate-400">{{ prod.authorNames }}</span>
            </div>
          </div>
        </td>
        <td class="px-5 py-4 text-xs font-semibold text-slate-600">{{ prod.categoryName }}</td>
        <td class="px-5 py-4">
          <app-price [value]="prod.price" size="sm"></app-price>
        </td>
        <td class="px-5 py-4">
          <app-badge [variant]="prod.stock > 10 ? 'success' : prod.stock > 0 ? 'warning' : 'danger'">
            {{ prod.stock }} left
          </app-badge>
        </td>
        <td class="px-5 py-4 text-xs font-semibold text-slate-700">⭐ {{ prod.averageRating }}</td>
        <td class="px-5 py-4 text-right">
          <div class="flex justify-end gap-1.5">
            <button (click)="openEditModal(prod)"
              class="p-1.5 rounded-lg hover:bg-slate-100 text-slate-500 hover:text-slate-700  cursor-pointer">
              <app-icon name="edit" size="14"></app-icon>
            </button>
            <button (click)="onDelete(prod.id)"
              class="p-1.5 rounded-lg hover:bg-rose-50 text-slate-400 hover:text-rose-600  cursor-pointer">
              <app-icon name="trash" size="14"></app-icon>
            </button>
          </div>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6" class="p-8 text-center text-slate-400">No products found.</td>
      </tr>
      }
    </ng-container>

    <div table-footer class="px-5 py-3 border-t border-slate-100 bg-slate-50/50 text-xs text-slate-500 font-medium">
      Menampilkan {{ pagination.paged().length }} dari {{ pagination.totalItems() }} data
    </div>
  </app-table>

  <div class="flex justify-center w-full">
    <app-pagination [currentPage]="pagination.page()" [totalPages]="pagination.totalPages() || 1"
      (pageChange)="pagination.setPage($event)"></app-pagination>
  </div>
  }

</div>