<div class="space-y-1 w-full">
  @if (label()) {
  <div class="flex items-center gap-2 px-1">
    <label [for]="inputId()" class="text-2xs tracking-wide uppercase font-bold text-slate-500">
      {{ label() }}
    </label>
  </div>
  }

  <div class="relative group w-full">
    <input [id]="inputId()" [type]="type() === 'password' ? (isPasswordVisible() ? 'text' : 'password') : type()"
      [required]="required()" [disabled]="isDisabled() || disabledInput()" [value]="value()" (input)="onInput($event)"
      (focus)="onFocus($event)" (blur)="onBlur($event)" [class]="inputClasses()" [placeholder]="placeholder()">

    @if (icon()) {
    <div
      class="absolute inset-y-0 left-0 flex items-center pointer-events-none transition-colors group-focus-within:text-primary-600 z-10"
      [class.pl-4]="size() === 'md'" [class.pl-3]="size() === 'sm'">
      <i class="bx" [ngClass]="[icon(), iconClass()]"></i>
    </div>
    }

    @if (type() === 'password') {
    <button type="button" (click)="togglePasswordVisibility()" [disabled]="isDisabled() || disabledInput()"
      class="absolute inset-y-0 right-0 pr-4 flex items-center text-slate-400 hover:text-primary-600 transition-colors cursor-pointer z-10 disabled:opacity-50 disabled:cursor-not-allowed">
      <i class="bx" [class.bx-show]="!isPasswordVisible()" [class.bx-hide]="isPasswordVisible()"></i>
    </button>
    }
  </div>
</div>
