<div class="flex flex-col gap-3.5 w-full">
      @for (item of items(); track $index) {
        @if (type() === 'card') {
          <div class="card-product animate-pulse pointer-events-none border-slate-100 shadow-sm">
            <!-- Image Container -->
            <div class="aspect-4/3 w-full bg-slate-200/60 mb-3 relative rounded-t-xl"></div>

            <!-- Meta info, Title & Ratings Wrapper -->
            <div class="flex flex-col px-3 pb-2 gap-1.5">
              <!-- Author/Spec -->
              <div class="h-2.5 bg-slate-200/60 rounded w-1/3 mb-1"></div>
              
              <!-- Title -->
              <div class="flex flex-col gap-1.5 mb-1.5">
                <div class="h-3.5 bg-slate-200/60 rounded w-full"></div>
                <div class="h-3.5 bg-slate-200/60 rounded w-4/5"></div>
              </div>
              
              <!-- Ratings -->
              <div class="h-3 bg-slate-200/60 rounded w-1/4 mt-1"></div>
            </div>

            <!-- Pricing and Rating Row -->
            <div class="flex items-center justify-between pt-2 border-t border-slate-50 px-3 pb-3 mt-auto">
              <div class="h-5 bg-slate-200/60 rounded w-2/5"></div>
              <div class="h-3 bg-slate-200/60 rounded w-1/4"></div>
            </div>
          </div>
        } @else if (type() === 'avatar') {
          <div class="rounded-full bg-slate-200/60 animate-pulse" [style.width]="size()" [style.height]="size()"></div>
        } @else if (type() === 'table-row') {
          <div class="flex items-center gap-4 py-4 border-b border-slate-100 w-full">
            <div class="h-4 bg-slate-200/60 rounded animate-pulse w-1/6"></div>
            <div class="h-4 bg-slate-200/60 rounded animate-pulse w-2/6"></div>
            <div class="h-4 bg-slate-200/60 rounded animate-pulse w-1/6"></div>
            <div class="h-4 bg-slate-200/60 rounded animate-pulse w-1/6"></div>
            <div class="h-6 w-12 bg-slate-200/60 rounded animate-pulse ml-auto"></div>
          </div>
        } @else {
          <div class="bg-slate-200/60 rounded animate-pulse" [style.height]="height()" [style.width]="width()"></div>
        }
      }
    </div>
