:host {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
    }
    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1em;
      height: 1em;
      line-height: 1;
    }
