:host {
      display: flex;
      flex-direction: column;
      grow: 1;
      min-height: 0;
      height: 100%;
      overflow: hidden;
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
