<form [formGroup]="categoryForm" class="flex flex-col gap-4">
  <app-input label="Category Name" placeholder="e.g. Literature & Fiction" [control]="nameControl"></app-input>
  <app-input label="Icon Name (e.g. book-open, cpu, pen-tool, headphones, tablet)" placeholder="book-open" [control]="iconControl"></app-input>
  
  <div class="flex justify-end gap-2 mt-4">
    <app-button (click)="onCancel.emit()" type="button" variant="outline" size="sm">Cancel</app-button>
    <app-button (click)="onSubmitForm()" [disabled]="categoryForm.invalid" type="button" variant="primary" size="sm">Save Category</app-button>
  </div>
</form>
