<form [formGroup]="formGroup" class="flex flex-col gap-4 text-slate-700">
  <app-admin-input label="Kode Gudang" placeholder="Contoh: WH-01" [control]="codeControl"></app-admin-input>
  <app-admin-input label="Nama Gudang" placeholder="Contoh: Gudang Jakarta Pusat" [control]="nameControl"></app-admin-input>
  <app-admin-input label="Deskripsi" placeholder="Masukkan deskripsi gudang ..." [control]="descriptionControl"></app-admin-input>

  <div class="flex items-center">
    <app-admin-checkbox label="Aktif" [control]="$any(isActiveControl)"></app-admin-checkbox>
  </div>

  <div class="border-t border-slate-100 pt-4 flex justify-end gap-3 mt-6">
    <app-admin-button (click)="onCancel.emit()" type="button" variant="outline" size="sm">Batal</app-admin-button>
    <app-admin-button (click)="onSubmitForm()" [disabled]="formGroup.invalid" type="button" variant="primary" size="sm">
      Simpan
    </app-admin-button>
  </div>
</form>
